@font-face {
    font-family: MateSC;
    src: url('/font/MateSC-Regular.ttf');
}

@font-face {
    font-family: Josefin;
    src: url('/font/JosefinSans.ttf');
}

#contato-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.contato-box {
    display: flex;
    flex-direction: column;
}

.voltar-button {
    position: absolute;
    left: 20px;
    top: 20px;
}

.voltar-button {
    align-self: left;
}

a {
    text-decoration: none;
    -moz-text-decoration-line: none;
    -moz-text-decoration-color: rgba(0, 0, 0, 0);
}

a:link,
a:visited {
    color: rgb(255, 248, 232);
}

body {
    display: flex;
    height: 100%;
    margin: 0;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 252, 244);
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 10%;
}

button {
    margin-top: 1em;
    padding: 20px 12px;
    font-size: 1em;
    border: none;
    background-color: black;
    color: rgb(255, 248, 232);
    transition: background-color 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background: rgb(255, 248, 232);
    color: black;
}

.presentation h1 {
    font-size: 5em;
    text-align: left;
    margin: 0;
    text-shadow: 1px 1px 3px #000;
    width: 200px;
    font-family: MateSC;
}

.presentation h3 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5em;
    font-family: Josefin;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.presentation h2 {
    text-align: right;
    color: gray;
    font-size: large;
    align-self: right !important;
    width: max-content;
    font-family: Josefin;
}

.presentation {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.nav-left h1 {
    font-size: 26px;
    margin-left: 0vw;
}

.tp {
    margin-left: 5vw !important;
}

.dev {
    margin-left: 0;
    color: rgba(0, 0, 0, 0.5);
}

#main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.column {
    display: flex;
    width: 50%;
    height: 100%;
}

.column2 {
    flex-direction: column;
    background-color: black;
    background-image: url("/image/background.png");
}

ul {
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-around;
}

.logo {
    width: 100%;
    height: 5vw;
    width: 5vw;
    padding: 1em 2em;
}

li {
    color: rgb(255, 248, 232);
    font-size: 18px;
    font-family: MateSC;
    transition: background-color 0.4s;
    transition: font-size 0.2s;
    padding: 12px 0px;
    border-radius: 20px;
    text-align: center;
    flex: 1;
    cursor: pointer;
    text-decoration: underline 0.15em rgba(255, 255, 245, 0);
    transition: text-decoration-color 300ms;
    text-underline-offset: 0.2em;
}

li:hover {
    background-color: rgba(255, 255, 245, 0.5);
    font-size: 1.25em;
    text-decoration-color: rgba(255, 248, 230, 1);
}